<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcoffeebeta.DAO.LoginDAO">
    <!--查询使用的结果集-->
    <resultMap id="userMap" type="com.vcoffeebeta.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="telephoneNumber" column="telephone_number"/>
        <result property="email" column="email"/>
        <result property="isAdmin" column="isAdmin"/>
        <result property="companyId" column="company_id"/>
        <result property="accountId" column="account_id"/>
        <result property="equipId" column="equip_id"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="createdTime" column="created_time"/>
        <result property="modifiedTime" column="modified_time"/>
    </resultMap>
    <!-- 新增一个用户 -->
    <insert id="insert" parameterType="com.vcoffeebeta.domain.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,
            password,
            telephone_number,
            email,
            isAdmin,
            company_id,
            account_id,
            equip_id,
            created,
            modified,
            created_time,
            modified_time
        </trim>
        values
         <trim prefix="(" suffix=")" suffixOverrides=",">
            #{username},
            #{password},
            #{telephoneNumber},
            #{email},
            #{isAdmin},
            #{companyId},
            #{accountId},
            #{equipId},
            #{created},
            #{modified},
            #{createdTime},
            #{modifiedTime}
         </trim>
    </insert>
    <!-- 根据条件查询用户信息-->
    <select id="queryByNameAndPassword" parameterType="com.vcoffeebeta.domain.User" resultMap="userMap">
        select
        u.id,
        u.username,
        u.telephone_number,
        u.email,
        u.isAdmin,
        u.company_id,
        u.account_id,
        u.equip_id,
        u.created,
        u.modified,
        u.created_time,
        u.modified_time
        from user u
        <where>
          1=1
          <if test="username != null">
            and u.username = #{username}
          </if>
          <if test="password != null">
              and u.password = #{password}
          </if>
            order by modified_time desc
        </where>
    </select>

</mapper>